body{
     background-color: #f8f9fa;
     text-align: center;
}
img{
     height: 10rem;
}
#info{
     min-width: fit-content;
     margin: auto;
}
#enter{
     margin: 20px 0 20px 0;
     background-color: transparent;
     font-weight: semibold;
     color: #444;
     font-size: 1rem;
     padding: 1rem 1.5rem;
     border: 2px solid #eee;
     border-radius: .5rem;
     cursor: pointer;
     transition: all 1s ease;
     box-shadow: .5rem .5rem 1rem #ccc,
     -.5rem -.5rem 1rem #fff;
}
#enter:hover{
     box-shadow: .5rem .5rem 1rem #fff,
     -.5rem -.5rem 1rem #ccc;
}
#enter:active{
     box-shadow: inset .2rem .2rem 1rem #ccc,
     inset -.2rem -.2rem 1rem #fff;
}
#err1, #err2{
     display: none; 
     color: red;
     font-size: small;
     font-weight: bold;
}
.shake{
     animation: shake .3s;
}
@keyframes shake{
     25%{ transform: translateX(4px); }
     50%{ transform: translateX(-4px); }
     75%{ transform: translateX(4px); }
}
.g-signin2{
     text-align: center;
     position: sticky;
     width: 16%;
     margin: 0 auto;
     padding: 1rem 3rem;
     box-sizing: inherit;
}
.form-signin{
     width: 100%;
     max-width: 330px;
     padding: 15px;
     margin: auto;
}