body{
    font-family: 'Raleway', serif;
    text-align: center;
}
@media (max-width: 570px){
  .product{
    width: 100%!important;
  }
}
@media (max-width: 991px){
  #prod_filters{
    width: fit-content!important;
  }
  #product_container{
    width: fit-content!important;
  }
  .product{
    float: left;
  }
  #main{
    gap: 1rem!important;
  }
  .product .img-container .price{
    padding: 5px!important;
    border-radius: 0.5rem!important;
  }
}

.product{
    border-radius: 1rem;
    border-color: #ccc;
    border-style: solid;
    border-width: 0.01rem;
  }
.product .img-container{
    overflow: hidden;
    position: relative;
  }
.product .img-container .price{
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    background: white;
    padding: 15px;
    color: black;
    max-width: fit-content;
    border-radius: 1rem;
  }
.product .text{
    border: 0rem;
    color: black;
  }
.product a{
  display: inline-block;
  margin-top: 2px;
  text-decoration: none;
  color: white;
  padding: 15px;
}
.product:hover{
  background-color: #eaeded;
}
#prod_filters{
  height: fit-content;
}
.input-wrapper{
  border-radius: 0.5rem;
  background-color: #ffff;
  width: 60%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}
.input-wrapper input{
  background-color: #ffff;
  border: none;
  outline:none;
  margin: 0 0.5rem;
  width: 100%;
}
#btnGroupDrop1:hover ,.an1:hover{
  box-shadow: .5rem .5rem 1rem #fff,
  -.5rem -.5rem 1rem #ccc;
}
.an1:active{
  box-shadow: inset .2rem .2rem 1rem #ccc,
  inset -.2rem -.2rem 1rem #fff;
}