body{
    font-family: 'Raleway', serif;
    text-align: center; 
  }
.product{
    margin-bottom: 2rem;
    width: 50%;
    float: left;
    border-radius: 1rem;
  }
.product .img-container{
    overflow: hidden;
    position: relative;
  }
.product .img-container img{
    width: 100%;
    display: block;
  }
.product .img-container .price{
    position: absolute;
    top: 1rem;
    left: 0.5rem;
    font-size: 20px;
    background: white;
    padding: 15px;
    color: black;
  }
.product .text{
    border: 0rem;
    color: black;
  }
.product a{
    display: inline-block;
    margin-top: 2px;
    text-decoration: none;
    color: white;
    padding: 15px;
  }
  footer{
    margin-top: 85%;
    text-align: left;
  }
  .product:hover{
    background-color: #eaeded;
  }
