body{
     background-color: #f8f9fa;
}
.container{
     display: grid;
     grid-template-columns: 1fr 1fr;
}
.smallImg img{
     display: inline-block;
     height: 80px;
     border: 1px solid #ccc;
     border-radius: 3px;
}
.smallImg img:hover{
     box-shadow: .5rem .5rem .5rem black;
}
#comentario{
     display: grid;
     box-sizing: border-box;
     box-shadow: .5rem .5rem 1rem #ccc;
}
#title{
     width: fit-content;
     height: fit-content;
}
#ProdDescription{
     height: fit-content;
     display: grid;
     box-sizing: border-box;
}